<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


        <div class="card-header mt-2"></div>
        <div class="card">
            <div class="card-body">
            <h3>
                {{element.title}}
            </h3>
            <p>
              Vas a pagar  {{element.price}}
               
            </p>
            <a href="{{aproval_url}}">Pagar por paypal</a>

        </div>
    </div>
      

</body>
</html>