<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body class="container h-75">

    <h1> Tienda la esquina</h1>

    <form method="get" class="form-inline">
        <input type="text" name="search" id="  " value="{{search}}" class="form-control w-75">
        <select name="category_id" id="" class="form-control">
            <option value="">sin selección</option>
            {% for c in category %}
            <option value="{{c.id}}" {% if category_id == c.id %} selected {% endif %}>{{c.title}} </option>
            {% endfor %}

        </select>

        <button type="submit">Buscar</button>

    </form>
    <div class="row">

        {% for e in elements %}
        <div class="col-6">
          
            <div class="card">
                <div class="card-body">

                
                {% if  e.elementeimages_set.all.count %}
                    <img src="uploads/{{e.elementeimages_set.all.0.cover}} " alt="{{e.elementeimages_set.all.0.title}}" title="{{e.elementeimages_set.all.0.title}}">
                    {% else %}

                    <img src="uploads/{{e.elementeimages_set.all.0.cover}} " alt=""> {#imagen pro defecto#}
                {% endif %}
                    
                    
                    <h3>
                        {{e.title}}
                    </h3>

                    <strong>$ {{e.price}}</strong> <br>
                    <a href=" {% url 'store:detalle' e.id %}">ver id</a>
                    <a href=" {% url 'store:detalle' e.id e.url_clean %}">ver id/slug</a>
                    <a href=" {% url 'store:detalle' e.url_clean %}">ver slug</a>
                </div>
            </div>
        </div>

                {% endfor %}

            </div>
</body>

</html>